.button {
	-fx-background-color: rgba(193,66,66);
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
    -fx-color:#000000;
    -fx-font: 14 arial;
}

.button:hover{
    -fx-background-color: rgba(250,223,151);
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
    -fx-color:#FFFFFF;
    -fx-font: 14 arial;
}

.button:disabled {
	-fx-background-color: rgba(185,125,3);
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
    -fx-color: rgba(0,0,0);
}

#btnLeftKalahMancala {
	-fx-background-color: rgba(185,125,3);
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
}

#btnRightKalahMancala {
	-fx-background-color: rgba(185,125,3);
    -fx-background-radius: 20, 5;
    -fx-background-insets: 0, 1;
}